.bodycontainer{
    display: flex;
    height:calc(100vh - 108px)
}
.palette{
    width: 100%;
    height:100%;
    display: flex;
}
.menubar{
    width: 25%;
    height:100%;
    border: 1px solid rgba(0, 0, 0, 0.363);
    background-color: white;
    border-radius: 5px 0 0 5px;
    position: fixed;
}
.menutop{
    display: flex;
    height:60px;
    justify-content: center;
    font-size: large; 
    font-weight: 600; 
    font-family: 'Source Code Pro', monospace; 
    color: black;
    background-color: rgba(0, 0, 0, 0.062)
}
.menutopopt{
    padding: 20px;
    cursor: pointer;
}
.menutopopt:hover{
    color:black;
    border-bottom: 1px solid black;
}
.closefav{
    color:blue;
    padding: 20px;
    border-bottom: 1px solid blue;
}
.closesaved{
    color:blue;
    padding: 20px;
    border-bottom: 1px solid blue;
}
.reslist{
    overflow-y: scroll;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    /* padding-bottom: 10px; */
}
.favourite{
    width: 90%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
::-webkit-scrollbar{
    width: 1px;
}
.menupalette{
    display: flex;
    width: 90%;
    min-height:40px;
    margin-top:10px;
    border-radius: 10px;
    overflow: hidden;
}
.menupalette:hover .menupalettecolor{
    filter:brightness(60%);
}
.menupalettecolor,.deleteopt{
    flex:2;
    height: 100%;
}
.deleteopt{
    display: flex;
    flex:1.2;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    
}
.deleteicon{
    color:black !important;
}
.deleteicon:hover{
    color: rgb(226, 0, 0) !important;
}
.favcolor{
    display: flex;
    width: 90%;
    min-height:40px;
    margin-top:10px;
    border-radius: 10px;
    overflow: hidden;
}
.favourite:hover .copy{
    opacity: 1;
}
.copy{
    color:white;
    opacity: 0;
}
.favourite:active{
    filter:brightness(65%)
}