*{
  margin:0
}
.pointer{
  cursor: pointer;
}
.bigger{
  transform: scale(1.5);
}
.center{
  text-align: center;
}
.lgtodrk{
  color:black !important;
}
.lgtodrk:hover{
  color:rgba(0, 0, 0, 0.347) !important;
}