*{
  margin:0
}
.pointer{
  cursor: pointer;
}
.grow{
  transform: scale(1.05);
}
.grow:hover{
  transform: scale(1.2);
  transition: 0.3s;
}
.bigger{
  transform: scale(1.5);
}
.center{
  text-align: center;
}